---
layout: archive
title: "Education"
permalink: /teaching/
author_profile: true
---
<div style="display: flex; align-items: flex-start;">
  <div style="flex: 1;">
    <h2>Michigan State University</h2>
    <ul>
      <li><strong>Major</strong>: Computer Science</li>
      <li><strong>Minor</strong>: Data Science</li>
      <li><strong>Clubs</strong>:
        <ul>
          <li>MSU AI Club</li>
          <li>MSU Autonomous Vehicles club</li>
        </ul>
      <li><strong>Interests</strong>:
        <ul>
          <li>Machine learning</li>
          <li>Data Science</li>
          <li>Autonomous systems</li>
        </ul>
      </li>
    </ul>
  </div>
  <div style="flex: 1; text-align: right;">
    <img src="/images/michigan-state.png" alt="Image Description" style="max-width: 100%; height: auto;" />
  </div>
</div>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
